body {
    color: #2b283a;
    font-family: 'Besley', serif;
    margin: 0;
}

/* ----- TYPOGRAPHY ----- */

.subheading, 
h2,
h1,
h3,
h5 {
    font-family: 'Bebas Neue', cursive;
}



h1 {
    margin: 0;
    color: #E4CD5C;
    font-size: 2.75rem;
    text-align: center;
}

h2, h5 {
    color: #025848;
    font-size: 2.375rem;
    text-align: center;
    margin: 1em;
}

h4 {
    font-size: 2.25rem;
    font-family: 'Besley', serif;
    font-style: italic;
}

p {
    line-height: 1.5;
}

.subheading {
    display: flex;
    font-size: 1.75rem;
    color: #E4CD58;
    margin-left: 10px;
}


.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}



@keyframes morph{
  0%, 100% {
  border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}
.section-two h2 {
    color: inherit;
}

.btn-social-wrap {
    margin-top: 1em;
    text-align: center;
}
/* ----- LINKS ----- */

a {
    color: #E4CD5C;
    text-decoration: none; 
}


a:hover, 
a:active {
    color: #d4b44c;
}

.btn {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 4.6px;
}

.btn-dark {
    color: whitesmoke;
    background: #025848;
}

.btn-mid {
    color: #025848; 
    background:  #E4CD5C; 
}

.btn-light {
    color:  #025848; 
    background: whitesmoke;
    
    
}

.btn-dark:hover, 
.btn-dark:active {
    color:  #025848;
    background-color: #E4CD5C;
}

.btn-mid:hover, 
.btn-mid:active {
    color:  whitesmoke;
    background-color: #025848;
}

/* ----- LAYOUT ----- */

header, 
section {
    padding: 1.25em 0;
}

header, 
.section-two {
    background-color: #025848;
}

.section-two {
    color: whitesmoke;
}

.dog-icon {
    max-width: 125px;
    text-align: center;
    position: relative; 
    fill: whitesmoke;
}

.dog-icon:hover {
        background-image: url(gold.dog.png);
}
.main-container {
    width: 90%;
    max-width: 800px;
    margin: 5em auto 4em;
}

.main-image {
    width: 100%;
    display: block;
    max-width: 640px;
}

.btn-section {
    margin-top: 2em;
}

.section-two-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.feature-image {
    display: block;
    width: 100%;
    max-width: 400px;
    border-radius: 4.6px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

.feature-item {
    flex: 1 260px;
}

.footer {
    display: flex;
    color: whitesmoke;
    background: #025848;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.social-icons {
    width: 50px;
    max-height: 55px;
}

.widget {
    margin-bottom: 10px;
}


/* ----- NAVIGATION BAR ----- */

:root {
    --navbar-bg-color:#025848;
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: #E4CD58;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  .container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }
  #navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  .navbar-item {
    margin: 0.4em;
    width: 100%;
  }
  
  .home-link,
  .navbar-link {
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
  }

  .home-link {
   color: whitesmoke;
  }
  
  .home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
  }
  
  .navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
  }
  
  .navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
  }
  .navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    margin-right: 0.5em;
  }
 .dog-icon {
   height: 50px;

  }
  #navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
  }
  #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
  }
  #navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
  }
  .navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    padding: 1em;
  }
  @media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
  }

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.85em 0.25em;
    display: block;
    font-family: 'Pathway Gothic One', sans-serif;


}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* ----- MEDIA QUERIES ----- */

@media (max-width: 767px) {
    header,
    h2,
    h3,
    h4,
    p {
        text-align: center;
    }
  
    
    h3 {
        font-size: 1.5em;
        margin-bottom: 1.5em;
        letter-spacing: .5px;
    }
    h4 {
        font-size: 1.25em;
    }
    h5 {
        font-size: 1.90em;
    }
    .subheading {
	letter-spacing: 2px;
	    margin-bottom: 0;
	}
    nav li { 
        margin-top: 5px;
        width: 175px;
        margin-right: auto;
        margin-left: auto;
    }
   nav a {
       font-size: 1.5rem;
   }
    li:not(:last-child) {
        border-bottom: 1px dotted #a190b6;
    }  

    .btn {
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    header,
    section,
    footer {
        padding: 2.875em 0;        
    }
    
    header .container,
    nav ul {
        display: flex;
    }
    
    header .container {
        justify-content: space-between;
        align-items: center;
    }
    
    nav li {
        margin-left: 3em;
        font-size: .25em;
       
    }
    
    .btn {
        display: inline-block;
        margin-right: 0.5em;
        font-size: 1.25rem;
    }
    
    h1 {
        display: flex;
        font-size: 3.5rem;
        align-items: flex-start;
    }
    
	h2, 
	h3,
	h5 {
        font-size: 3.25rem;
        text-align: center;
        letter-spacing: 2px;
    }
    
    h4 {
        font-size: 1.75rem;
    }
	
    .subheading {
        font-size: 1.75rem;
	letter-spacing: 2px;
    }
    
    p {
        font-size: 1.125rem;
    }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #F2F3EB;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container-form {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 5px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h2, {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 60%;
}

.icon_wrapper {
  margin-top: 25px;
  width: 100%;
}

.icon {
  display: block;
  fill: #025848;
  margin: auto;
  width: 75px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
    border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
    text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #025848;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
  #form_button {
      display: flex;
}
}
@media screen and (max-width: 480px) {

  
  .underline {
    width: 60%;
  }
  
  #form_button {
    padding: 15px 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 40%;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}